.centrado{
    text-align: center;
}

.webrender{
    background-image: url("coffee.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.webrender:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
}

.webrender h1 {
	font-size: 60px;
	color: #fff;
	position: relative
}

.webrender h3{
    color: white;
    position: relative;
    text-decoration: none;
}

.webrender p{
    color:  #ffffcc;
    position: relative;
    text-align: center;
}

li{
    background-color: white;
}

.imagen{
    text-align: center;
    position: relative;
    width: 255px;
    height: 255px;
}

p{
    color: black;
}
